version: '3.8'

services:
    user-db:
      image: postgres:17
      container_name: user-postgres
      environment:
        POSTGRES_DB: user_db
        POSTGRES_USER: user_user
        POSTGRES_PASSWORD: user_password
      ports:
        - "5432:5432"
      volumes:
        - user_db_data:/var/lib/postgresql/data
      networks:
        - social-network

    gateway:
      build:
        context: ./Gateway
        dockerfile: Dockerfile
      container_name: gateway
      ports:
        - "8000:8000"
      depends_on:
        - user-service
      networks:
        - task-tracker-network

    user-service:
      build:
        context: "./user_service"
        dockerfile: Dockerfile
      container_name: auth-service
      ports:
        - "8001:8001"
      depends_on:
        - user-db
        - redis
      networks:
        - task-tracker-network

volumes:
  user_db_data:

networks:
  task-tracker-network:
    driver: bridge