version: '3.8'

services:
    user-db:
      image: postgres:17
      container_name: user-postgres
      environment:
        POSTGRES_DB: user_db
        POSTGRES_USER: postgres
        POSTGRES_PASSWORD: 1111
      ports:
        - "5435:5432"
      volumes:
        - user_db_data:/var/lib/postgresql/data
      networks:
        - task-tracker-network

    # gateway:
    #   build:
    #     context: ./gateway_service
    #     dockerfile: Dockerfile
    #   container_name: gateway
    #   ports:
    #     - "8000:8000"
    #   depends_on:
    #     - user-service
    #   networks:
    #     - task-tracker-network

    user-service:
      build:
        context: "./user_service"
        dockerfile: Dockerfile
      container_name: auth-user-service
      ports:
        - "8001:8001"
      depends_on:
        - user-db
      environment:
        - DB_HOST=user-db
        - DB_PORT=5432
        - DB_NAME=user_db
        - DB_USER=postgres
        - DB_PASSWORD=1111
      networks:
        - task-tracker-network

volumes:
  user_db_data:

networks:
  task-tracker-network:
    driver: bridge